h1 {
    color: rgb(255, 50, 204);
    text-align: center;
}

p {
    color: rgb(109, 0, 0);
    font-size: 18px;
}
h2 {
    color: rgb(123, 218, 255);
    text-align: center;
}
h4 {
    color: rgb(253, 255, 121);
    text-align: center;
}